# Dependencies
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Env files
.env
.env.*
!*.env.example
infra/vps/.env
infra/vps/.env.local
app/.lastSeen
app/*test*

# Build artifacts
*.zip

# Pulumi state
*.bak
Pulumi.*.yaml.backup
